* {
  box-sizing: border-box;
}
.App {
  display: flex;
  width: 950px;
  margin: 0 auto;
}

.news-feed {
  flex-grow: 1;
  padding: 10px;
  width: 150px;
}

.feed-posts {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  padding: 10px;
}

.comments {
  flex-grow: 1;
  padding: 10px;
  width: 45%;
}

.feed-header {
  text-align: center;
  padding: 10px 25px;
  font-size: 24px;
  border-radius: 10px;
  background-color: #c4c4c4;
  margin-bottom: 20px;
}

.single-post,
.single-comment {
  background-color: #c4c4c4;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
}

.comments-btn,
#comments-img {
  display: flex;
  justify-content: center;
}

.post-title,
.post-content {
  margin: 10px 0;
}
