* {
  box-sizing: border-box;
}
.App {
  display: flex;
  width: 700px;
  margin: 0 auto;
}

.news-feed {
  flex-grow: 1;
  padding: 10px 30px;
  width: 10%;
}

.comments {
  flex-grow: 1;
  padding: 10px 30px;
  width: 10%;
}

.feed-header {
  text-align: center;
  padding: 10px 25px;
  font-size: 24px;
  border-radius: 10px;
  background-color: #c4c4c4;
}

.single-post,
.single-comment {
  background-color: #c4c4c4;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
}

.comments-btn,
#comments-img {
  display: flex;
  justify-content: center;
}

.post-title,
.post-content {
  margin: 10px 0;
}
